name: DevOps CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    # 1. Checkout kode
    - uses: actions/checkout@v3

    # 2. Setup Node.js Environment
    - name: Use Node.js 18
      uses: actions/setup-node@v3
      with:
        node-version: '18'
        cache: 'npm'

    # 3. Install Dependencies (Clean Install)
    - name: Install Dependencies
      run: npm ci

    # 4. Coba Build Aplikasi (React Build)
    - name: Build React App
      run: npm run build

    # 5. Build Docker Image (Memastikan Dockerfile valid)
    - name: Build Docker Image
      run: docker build . --file Dockerfile --tag my-portfolio:$(date +%s)